/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Righteous&family=Roboto+Slab:wght@700&display=swap');
/* style */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-color: #f3f3fe;
  --dark-color: #363636;
  --container-padding: 1.5rem;
  --section-vertical-spacing: 8rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--light-color);
  color: var(--dark-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

span {
  display: inline-block;
}

i {
  font-size: 2.4rem;
}

input,
button,
textarea {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

.container {
  max-width: 96rem;
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* HEADER */
.header {
  margin-bottom: 5rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  position: relative;
}

.logo {
  font-family: "Righteous", "sarof";
  font-size: 3rem;
  font-weight: 600;
}

.logo:hover {
  color: #4c00ff;
}

.navbar-buttons {
  display: flex;
  column-gap: 0.5rem;
  padding: 0 0.5rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  border-radius: 0.4rem;
  position: relative;
  z-index: 999;
}

.button {
  cursor: pointer;
}

.icon-button {
  width: 4rem;
  height: 4rem;
  display: flex;
}

.icon-button i {
  margin: auto;
}

.close-icon,
.theme-on {
  display: none;
}

.menu {
  position: absolute;
  right: 1.55rem;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  z-index: -1;
  pointer-events: none;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.25s 0.25s cubic-bezier(1, 0, 0, 1);
}

.list {
  display: flex;
  gap: 2.5rem;
}

.menu .list {
  opacity: 0;
}

.menu .list .list-link {
  text-transform: uppercase;
}

.list-link {
  font-size: 1.4rem;
}

.list-link:hover,
.list-link:focus,
.scroll-top:hover,
.scroll-top:focus {
  color: #4c00ff;
}

.list-link span {
  font-weight: bold;
}

.active.menu {
  z-index: initial;
  pointer-events: initial;
  transform: scale(1) translateY(4.5rem);
}

.active.menu .list {
  opacity: 1;
  transition: opacity 0.1s 0.5s;
}

.active .open-icon {
  display: none;
}

.active .close-icon {
  display: block;
}

/* About */
.d-grid {
  display: grid;
}

.section::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vw;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(189, 11, 32, 0.08) 0%,
    rgba(194, 140, 146, 0) 100%
  );
  z-index: -1;
}

.section-description {
  gap: 2.5rem;
  margin-bottom: 2.5rem;
  font-family: "Righteous", "sarof";
}

.description {
  font-weight: 300;
  font-family: "Playfair Display", "serif";
  font-size: 2rem;
}


.text-bold {
  font-weight: bold;
}

.text-color {
  color: #4c00ff;
}

.description-image {
  width: 25rem;
  height: 25rem;
  margin: 0 auto;
}

.description-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5rem;
}

.tech-stack {
  max-width: 50rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 2.5rem;
}

.tech-stack-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tech-stack-item i {
  font-size: 5rem;
  opacity: 0.5;
}

.tech-stack-item::before,
.tech-stack-item::after {
  position: absolute;
  top: -1rem;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.tech-stack-item::before {
  content: "";
  border: 1rem solid transparent;
  border-top-color: var(--dark-color);
  transform: translateY(0);
  z-index: 5;
}

.tech-stack-item::after {
  content: attr(data-tooltip);
  width: max-content;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}

.tech-stack-item:hover {
  color: #4c00ff;
}

.tech-stack-item:hover::before {
  opacity: 1;
  transform: translateY(-0.6rem);
}

.tech-stack-item:hover::after {
  opacity: 1;
  transform: translateY(calc(-100% + -0.5rem));
}

/* Contact info */
.contact-item {
  font-size: 1.5rem;
}

.contact-item ul {
  display: inline-flex;
  gap: 15px;
}

.contact-item ul li i {
  font-size: 2rem;
}

.contact-item ul li i:hover {
  color: #4c00ff;
  border-bottom: 2px solid #4c00ff;
  font-weight: bold;
  font-style: italic;
}

/* portfolio */
.section-title-container {
  display: inline-block;
  margin-bottom: 5rem;
}

.section-title {
  font-family: "Righteous", "sarof";
  font-size: clamp(2rem, 8vw, 6rem);
  text-decoration: underline;
}

.section-subtitle-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 1.5rem;
}

.card-heading .bxl-netlify {
  color: #20c6b7;
}

.card-heading .bxl-github {
  color: #171515;
}


.card-heading .bxl-netlify:hover,
.card-heading .bxl-github:hover {
  border-bottom: 3px solid #4c00ff;
  border-top: 3px solid #4c00ff;
}

.subtitle-number {
  width: 5rem;
  height: 5rem;
  border: 2px solid var(--dark-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-subtitle {
  font-size: clamp(2rem, 5vw, 4rem);
}

.portfolio-cards {
  gap: 5.5rem;
}

.card-image {
  height: 50rem;
  background-color: #9da0a8;
  margin-bottom: 2.5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.25s;
}

.card-image img {
  width: 95%;
  height: 100%;
  object-fit: contain;
}

.portfolio-card:hover .card-image,
.portfolio-card:focus .card-image {
  background-color: #4c00ff;
}

.card-heading {
  color: var(--dark-color);
}

.card-heading .list-link {
  color: var(--dark-color);
}

.card-title {
  font-size: 2.5rem;
  text-decoration: underline;
  font-family: "Righteous", "sarof";
}

.card-subtitle {
  font-size: 1.6rem;
  opacity: 0.8;
  font-family: "Poppins", "sans-serif";;
}

.large-button-container {
  display: flex;
}

.large-button {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", "sarof";
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}

.button-fill::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(0);
  transform-origin: bottom left;
  transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.large-button.button-fill::before {
  border-radius: 50%;
}

.button-fill:hover::before,
.button-fill:focus::after {
  transform: scale(1);
}

/* Footer */
.footer-container {
  font-family: "Righteous";
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 5rem;
  padding-bottom: 1.5rem;
}

.scroll-top {
  display: flex;
  align-items: center;
  color: var(--dark-color);
}

.footer .bxl-instagram {
  color: #8a3ab9;
}

.footer .bxl-twitter {
  color: #00acee;
}

.footer .bxl-github {
  color: #000;
}

.footer .bxl-linkedin {
  color: #0e76a8;
}

.footer .bxl-instagram:hover,
.footer .bxl-twitter:hover,
.footer .bxl-github:hover,
.footer .bxl-linkedin:hover {
  border-bottom: 3px solid #4c00ff;
  border-top: 3px solid #4c00ff;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #4c00ff;
}

@media screen and (min-width: 768px) {
  .inline-image {
    width: 15rem;
    height: 15rem;
  }

  .section-description {
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
  }

  .description {
    font-size: 2rem;
  }

  .description-image {
    width: 30rem;
    height: 30rem;
  }

  .input-group {
    display: flex;
    column-gap: 5rem;
  }

  .input {
    width: 100%;
  }

  .footer-container {
    padding-block: 5rem;
  }
}

/* ====== DARK-THEME ====== */
/* logo */
.dark-theme .logo:hover {
  color: #e318ad;
}
/* contactinfo */
.dark-theme .contact-item ul li i:hover {
  color: #e318ad;
  border-bottom: 2px solid #e318ad;
}

.dark-theme .text-color {
  color: #e318ad;
}

body.dark-theme {
  --light-color: #000;
  --dark-color: #ffff;
  --border-top-color: rgba(255, 255, 255, 0.1);
}

.dark-theme .theme-off {
  display: none;
}

.dark-theme .theme-on {
  display: block;
}

.dark-theme .tech-stack-item i {
  opacity: 0.8;
}

.dark-theme .card-heading .bxl-github {
  color: #fff;
}

.dark-theme .footer .bxl-github {
  color: #fff;
}

.dark-theme .tech-stack-item:hover {
  color: #e318ad;
}

.dark-theme .list-link:hover,
.dark-theme .list-link:focus,
.dark-theme .scroll-top:hover,
.dark-theme .scroll-top:focus {
  color: #e318ad;
}

.dark-theme .card-heading .bxl-netlify:hover,
.dark-theme .card-heading .bxl-github:hover {
  border-bottom: 3px solid #4c00ff;
  border-top: 3px solid #4c00ff;
}

.dark-theme .portfolio-card:hover .card-image,
.dark-theme .portfolio-card:focus .card-image {
  background-color: #e318ad;
}

.dark-theme .footer .bxl-instagram:hover,
.dark-theme .footer .bxl-twitter:hover,
.dark-theme .footer .bxl-github:hover,
.dark-theme .footer .bxl-linkedin:hover {
  border-bottom: 3px solid #e318ad;
  border-top: 3px solid #e318ad;
}

/* scrollbar */
.dark-theme ::-webkit-scrollbar-track {
  background-color: #000;
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: #e318ad;
}
